// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.jost-header {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.jost-main {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}